In [51]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [53]:
%autoreload

import create_data as create
import plotter
import utilities as utils
import pandas as pd

data = create.CreateTrainingData()
my_train = data.create_training_data()
X_test = create.create_test_data()
target = create.create_target_data()

# plotter.plot_target_data()

In [54]:
no_nans = pd.read_csv('results/prediction_with_filter_basic_no_nans.csv')
nans_to_zero = pd.read_csv('results/prediction_with_filter_basic_nans_to_0.csv')

# Keep every fourth row and delete the rest. The first row is to be kept.
no_nans = no_nans.iloc[::4, :]
nans_to_zero = nans_to_zero.iloc[::4, :]

In [55]:
# Delete 'id' column
del no_nans['id']
del nans_to_zero['id']

# Reset index
no_nans.reset_index(drop=True, inplace=True)
nans_to_zero.reset_index(drop=True, inplace=True)

In [50]:
no_nans.head()

   prediction
0    0.000000
1    0.000000
2    0.000000
3   46.039590
4  307.282684

In [56]:
no_nans.to_csv('results/prediction_basic_no_nans.csv', index=True)
nans_to_zero.to_csv('results/prediction_basic_nans_to_0.csv', index=True)