In [34]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
%autoreload

import h2o
import create_data as create
import pandas as pd
import create_delivery_file as delivery
import save_model as save

from h2o.automl import H2OAutoML

In [36]:
data = create.CreateTrainingData()
train = data.create_training_data_with_mean_features()
test_mean = create.create_test_data(use_mean_values=True)
target = create.create_target_data()

/home/stinky/Documents/ntnu/ml/TDT4173-ML/create_data.py:155: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_A = test_A.resample('H').mean()
/home/stinky/Documents/ntnu/ml/TDT4173-ML/create_data.py:156: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_B = test_B.resample('H').mean()
/home/stinky/Documents/ntnu/ml/TDT4173-ML/create_data.py:157: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_C = test_C.resample('H').mean()

,absolute_humidity_2m:gm3,air_density_2m:kgm3,ceiling_height_agl:m,clear_sky_energy_1h:J,clear_sky_rad:W,cloud_base_agl:m,dew_or_rime:idx,dew_point_2m:K,diffuse_rad:W,diffuse_rad_1h:J,...,sun_azimuth:d,sun_elevation:d,super_cooled_liquid_water:kgm2,t_1000hPa:K,total_cloud_cover:p,visibility:m,wind_speed_10m:ms,wind_speed_u_10m:ms,wind_speed_v_10m:ms,wind_speed_w_1000hPa:ms
date_forecast,,,,,,,,,,,,,,,,,,,,,
2023-05-01 00:00:00,4.325,1.28675,912.700012,0.000000,0.000,1061.550049,0.0,271.650024,0.000000,0.000000,...,16.026501,-10.5410,0.0,273.799988,74.949997,29907.500000,3.950,2.100,3.35,0.0
2023-05-01 01:00:00,4.275,1.28600,1482.099976,0.000000,0.000,1075.100098,0.0,271.450012,0.000000,0.000000,...,30.497250,-7.8945,0.0,273.799988,77.474998,29519.074219,3.825,1.925,3.30,0.0
2023-05-01 02:00:00,4.150,1.28375,1791.300049,0.000000,0.000,1200.400024,0.0,271.049988,0.000000,0.000000,...,44.517250,-3.8155,0.0,273.849976,88.099998,31009.125000,3.650,1.750,3.20,0.0
2023-05-01 03:00:00,4.025,1.28200,2312.875000,10124.424805,11.675,1179.849976,0.0,270.649994,9.375000,16845.226562,...,58.083000,1.4125,0.0,273.899994,68.599998,34552.500000,3.500,1.450,3.15,0.0
2023-05-01 04:00:00,3.900,1.28100,2198.299805,141748.593750,76.875,920.049988,0.0,270.375000,47.400002,102209.703125,...,71.341003,7.4685,0.0,273.924988,66.300003,35483.875000,3.325,1.300,3.05,0.0

In [4]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.20.1" 2023-08-24; OpenJDK Runtime Environment (build 11.0.20.1+1-post-Ubuntu-0ubuntu122.04); OpenJDK 64-Bit Server VM (build 11.0.20.1+1-post-Ubuntu-0ubuntu122.04, mixed mode, sharing)
  Starting server from /home/stinky/.local/lib/python3.10/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpa34kjdxg
  JVM stdout: /tmp/tmpa34kjdxg/h2o_stinky_started_from_python.out
  JVM stderr: /tmp/tmpa34kjdxg/h2o_stinky_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Oslo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.42.0.4
H2O_cluster_version_age:    22 days
H2O_cluster_name:           H2O_from_python_stinky_po5nhg
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.889 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.10.12 final
--------------------------  -----------------------------

In [5]:
# Delete all rows with nans in pv_measurement column in train
# train = train[train['pv_measurement'].isna() == False]

X_train = h2o.H2OFrame(train)
y = 'pv_measurement'

X = X_train.columns
X.remove(y)

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [6]:
autoML = H2OAutoML(max_models=30, seed=4, nfolds=5)
autoML.train(x=X, y=y, training_frame=X_train)

AutoML progress: |
13:39:17.187: XGBoost_1_AutoML_1_20231026_133916 [XGBoost def_2] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for XGBoost model: XGBoost_1_AutoML_1_20231026_133916_cv_1.  Details: ERRR on field: _response_column: Response contains missing values (NAs) - not supported by XGBoost.


████████████████████████
13:42:21.131: XGBoost_2_AutoML_1_20231026_133916 [XGBoost def_1] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for XGBoost model: XGBoost_2_AutoML_1_20231026_133916_cv_1.  Details: ERRR on field: _response_column: Response contains missing values (NAs) - not supported by XGBoost.


███████████████████████████
13:52:55.368: XGBoost_3_AutoML_1_20231026_133916 [XGBoost def_3] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for XGBoost model: XGBoost_3_AutoML_1_20231026_133916_cv_1.  Details: ERRR on field: _response_column: Response contains missing values (NAs) - not supported by XGBoost.


████████████| (done) 100%

Model Details
=============
H2OStackedEnsembleEstimator : Stacked Ensemble
Model Key: StackedEnsemble_AllModels_1_AutoML_1_20231026_133916


Model Summary for Stacked Ensemble:
key                                        value
-----------------------------------------  ----------------
Stacking strategy                          cross_validation
Number of base models (used / total)       5/30
# GBM base models (used / total)           5/14
# DRF base models (used / total)           0/2
# DeepLearning base models (used / total)  0/13
# GLM base models (used / total)           0/1
Metalearner algorithm                      GLM
Metalearner fold assignment scheme         Random
Metalearner nfolds                         5
Metalearner fold_column
Custom metalearner hyperparameters         None

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 10048.072278882342
RMSE: 100.24007321866013
MAE: 39.14014111860182
RMSLE: NaN
Mean Residual Deviance: 10048.072278882342
R^2: 0.9825587292343627
Null degrees of freedom: 8403
Residual degrees of freedom: 8398
Null deviance: 4841623214.966995
Residual deviance: 84443999.4317272
AIC: 101307.52249958689

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 52283.30981866872
RMSE: 228.65543907519174
MAE: 77.67936307611376
RMSLE: NaN
Mean Residual Deviance: 52283.30981866872
R^2: 0.9109889522535441
Null degrees of freedom: 93022
Residual degrees of freedom: 93017
Null deviance: 54827398421.110916
Residual deviance: 4863550329.26202
AIC: 1274643.9404887643

Cross-Validation Metrics Summary:
                        mean         sd           cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  -----------  -----------  ------------  ------------  ------------  ------------  ------------
mae                     77.5796      1.57693      76.1268       75.6352       78.9702       78.8157       78.3499
mean_residual_deviance  52275.5      2455.63      51341.8       48381         54340         53646.1       53668.6
mse                     52275.5      2455.63      51341.8       48381         54340         53646.1       53668.6
null_deviance           1.09655e+10  5.60416e+08  1.00802e+10   1.09135e+10   1.15416e+10   1.13368e+10   1.09553e+10
r2                      0.910904     0.0042934    0.905104      0.91684       0.911019      0.91233       0.909228
residual_deviance       9.72487e+08  4.45494e+07  9.54854e+08   9.05063e+08   1.02197e+09   9.89932e+08   9.90614e+08
rmse                    228.587      5.42175      226.587       219.957       233.109       231.616       231.665
rmsle                   nan          0            nan           nan           nan           nan           nan

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [7]:
best_model = autoML.leader
save.save_model(best_model, 'h2o_mean')

In [8]:
# Remove features that are not in the training set
# test.fillna(0, inplace=True)
test_pd = test_mean[X]
test_h2o = h2o.H2OFrame(test_pd)

pred = autoML.predict(test_h2o)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%

In [9]:
file = delivery.CreateDelivery(pred, 'mean_features_in_training_no_feature_engineering')
file.create_delivery_file()